{% extends 'base.html' %}

{% block content %}

<div class="header">
    <h1>WINSTER</h1>
    <h5>Dibuat oleh {{name}} dari kelas {{class}}</h5>
</div>

<div class="description">
    <p>Deskripsi Singkat</p>
    <p>Winster merupakan website yang menjual poster film dapat menjadi pilihan bagi penggemar film untuk mendapatkan poster film favorit mereka. Situs web ini juga dapat menjadi peluang bisnis bagi penjual poster film untuk memasarkan produk mereka secara online.</p>
</div>


<div class="image">
    <img src="https://getwallpapers.com/wallpaper/full/6/4/b/1267891-download-free-movie-poster-wallpaper-1920x1080-screen.jpg" alt="Deskripsi Gambar" width="1000" height="500" style="margin-top: 0px; margin-left: 100px;">
</div>

<div class="product-table">
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>


           
        </tr>

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                
 
         

            </tr>
        {% endfor %}
    </table>
</div>

<div class="login-info">
    <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

<div class="buttons">
    <a href="{% url 'main:create_product' %}">
        <button class="btn-primary">
            Add New Product
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button class="btn-secondary">
            Logout
        </button>
    </a>
</div>

<style>
    /* Add your CSS styles here */
    body {
        background-color: #ADD8E6; 
        font-family: Georgia, serif;
    }
    .header {
        text-align: center;
    }

    .description {
        margin: 20px 0;
    }

    .form input {
        margin-right: 10px;
    }

    .image {
        text-align: center;
    }

    .product-table {
        margin-top: 20px;
    }

    .product-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .product-table th, .product-table td {
        border: 1px solid #000000;
        padding: 8px;
    }

    .login-info {
        margin-top: 20px;
    }

    .buttons {
        margin-top: 20px;
        text-align: center;
    }

    .buttons button {
        margin: 0 10px;
    }
</style>

{% endblock content %}
