<h1>NIKM Finder (Maung-Apollo)</h1>

<h5>Dibuat oleh {{name}} dari kelas {{class}} </h5>
<p> Deskripsi Singkat <p>
<p>NIKM Finder (Maung-Apollo) merupakan aplikasi berbasis web yang bertujuan untuk memberikan informasi mengenai nikm dari nama mahasiswa yang dijadikan input. Aplikasi ini dikhususkan untuk {{jumlah_angkatan}} di fasilkom, yaitu maung, chronos, bakung, dan apollo.<p>

<label for="Name">Name:</label>
<input type="text" id="Name" name="Name">

<input type="submit">

<img src="https://sidang.cs.ui.ac.id/static/media/fasilkom.5f08cf824cb2e94af912.png" alt="Deskripsi Gambar" width="110" height="110" style="margin-top: 0px; margin-left: 100px;">